header{
    height: 100vh;
    width: 100%;
    background-image: url(../images/headbg.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .head-navigation{
        height: 11%;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: whitesmoke;
        .head-navigation__logo{
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 3px;
        }
        .head-navigation__hblock{
            width: 500px;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .hblock__about{
                font-size: 23px;
                font-weight: 500;
                letter-spacing: 2px;
            }
            .hblock__articles{
                font-size: 23px;
                font-weight: 500;
                letter-spacing: 2px;
            }
            .hblock__subscribe{
                transition: 0.3s;
                height: 50px;
                width: 180px;
                background-color: rgba(245, 245, 245, 0);
                color: whitesmoke;
                font-size: 23px;
                font-weight: 500;
                letter-spacing: 2px;
                border-style: solid;
                border-width: 2px;
                border-color: whitesmoke;
            }
            .hblock__subscribe:hover{
                transition: 0.3s;
                background-color: whitesmoke;
                color: rgba(0, 0, 0, 0.685);
            }
        }
    }
    .head-structure{
        height: 74%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        .head-structure__text1{
            font-size: 160px;
            letter-spacing: 4px;
        }
        .head-structure__text2{
            font-size: 42px;
            letter-spacing: 2px;
        }
        .head-structure__hr{
            margin-top: 20px;
            width: 90px;
            height: 5px;
            color: whitesmoke;
            background-color: whitesmoke;
            border-width: 0px;
        }
    }
}