main{
    .main-one{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main-one__text{
            padding-top: 50px;
            font-size: 30px;
            letter-spacing: 2px;
            color: rgb(49, 49, 49);
        }
        .main-one__hr{
            margin-top: 10px;
            width: 90px;
            height: 5px;
            color: rgb(49, 49, 49);
            background-color: rgb(49, 49, 49);
            border-width: 0px;
        }
        .main-one__mostructure{
            height: 75%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .mostructure__card{
                height: 600px;
                width: 425px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 2px 10px rgb(49, 49, 49);
                .card__hr{
                    margin-top: 110px;
                    margin-bottom: 10px;
                    width: 40px;
                    height: 3px;
                    color: rgb(49, 49, 49);
                    background-color: rgb(49, 49, 49);
                    border-width: 0px;
                }
                .card__textarticles{
                    text-align: center;
                    font-size: 25px;
                    width: 375px;
                }
            }
        }
    }
}